In [0]:
%run /Users/g.anshuman@tcs.com/poc-one

In [0]:
import unittest

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+---+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|  .|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+---+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|  .|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|  .|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|  .|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|  .|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|  .|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+---+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|TRANSACTION_AMOUNT|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|         1000000.0|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|         1000000.0|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|          500000.0|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|         3000000.0|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|          500000.0|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|TRANSACTION_AMOUNT|TRANSACTION_TYPE|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|         1000000.0|              CR|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|         1000000.0|              CR|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|          500000.0|              CR|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|         3000000.0|              CR|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|          500000.0|              CR|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------------+------------------+----------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|      BALANCE_AMT|TRANSACTION_AMOUNT|TRANSACTION_TYPE|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------------+------------------+----------------+
|409000425051'|2017-06-12|Indiaforensic SER...|   1.0|2017-06-12|         200.0|       null|601087.8499999954|             200.0|              DR|
|409000425051'|2017-06-12|Indiaforensic SER...|   2.0|2017-06-12|         200.0|       null|600887.8499999954|             200.0|              DR|
|409000425051'|2017-06-12|Indiaforensic SER...|   5.0|2017-06-12|         200.0|       null|600687.8499999954|             200.0|              DR|
|409000425051'|2017-06-12|Indiaforensic SER...|   6.0|2017-06-12|         200.0|       null|600487.8499999954|             200.0|              DR|
|409000425051'|2017-06-12|Indiaforensic SER...|   4.0|2017-06-12|         200.0|       null|600287.8499999954|             200.0|              DR|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------------+------------------+----------------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|TRANSACTION_AMOUNT|TRANSACTION_TYPE|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|         1000000.0|              CR|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|         1000000.0|              CR|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|          500000.0|              CR|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|         3000000.0|              CR|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|          500000.0|              CR|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|TRANSACTION_AMOUNT|TRANSACTION_TYPE|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|409000611074'|2017-08-16|INDO GIBL Indiafo...|  null|2017-08-16|      133900.0|       null|  8366100.0|          133900.0|              DR|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|  null|2017-08-16|       18000.0|       null|  8348100.0|           18000.0|              DR|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|  null|2017-08-16|        5000.0|       null|  8343100.0|            5000.0|              DR|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|  null|2017-08-16|      195800.0|       null|  8147300.0|          195800.0|              DR|
|409000611074'|2017-08-16|INDO GIBL Indiafo...|  null|2017-08-16|       81600.0|       null|  8065700.0|           81600.0|              DR|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
only showing top 5 rows

+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|   Account_No|      DATE| TRANSACTION_DETAILS|CHQ_NO|VALUE_DATE|WITHDRAWAL_AMT|DEPOSIT_AMT|BALANCE_AMT|TRANSACTION_AMOUNT|TRANSACTION_TYPE|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
|409000611074'|2017-06-29|TRF FROM  Indiafo...|  null|2017-06-29|          null|  1000000.0|  1000000.0|         1000000.0|              CR|
|409000611074'|2017-07-05|TRF FROM  Indiafo...|  null|2017-07-05|          null|  1000000.0|  2000000.0|         1000000.0|              CR|
|409000611074'|2017-07-18|FDRL/INTERNAL FUN...|  null|2017-07-18|          null|   500000.0|  2500000.0|          500000.0|              CR|
|409000611074'|2017-08-01|TRF FRM  Indiafor...|  null|2017-08-01|          null|  3000000.0|  5500000.0|         3000000.0|              CR|
|409000611074'|2017-08-16|FDRL/INTERNAL FUN...|  null|2017-08-16|          null|   500000.0|  6000000.0|          500000.0|              CR|
+-------------+----------+--------------------+------+----------+--------------+-----------+-----------+------------------+----------------+
only showing top 5 rows

+-------------+----------+------------------+----------------+--------+
|   Account_No|      DATE|TRANSACTION_AMOUNT|TRANSACTION_TYPE|count(1)|
+-------------+----------+------------------+----------------+--------+
|     1196711'|2015-11-08|             1.5E7|              DR|       2|
|     1196711'|2016-11-17|            1.49E7|              CR|       4|
|     1196711'|2017-02-18|             1.0E7|              DR|       4|
|409000493210'|2018-07-12|            1300.0|              DR|       2|
|409000493210'|2018-11-09|            9000.0|              DR|      13|
+-------------+----------+------------------+----------------+--------+
only showing top 5 rows

+-------------+--------------------+--------------------+
|   Account_No|       TOTAL_DEPOSIT|      TOTAL_WITHDRAW|
+-------------+--------------------+--------------------+
|409000438611'|1.0541575083999997E8|      1.0573917544E8|
|     1196711'| 2.774532244599999E8|2.2838888763999996E8|
|     1196428'|1.9214765394799995E9| 8.824359643900001E8|
|409000611074'|           6000000.0|           2866482.0|
|409000425051'|             50000.0|           100286.25|
|409000362497'|     1.48789611043E9|      2.4000198745E9|
|409000493201'|          2901671.63|   5257846.529999999|
|409000438620'|1.0885249806100001E9|1.0605795730900003E9|
+-------------+--------------------+--------------------+

In [0]:
class TestPOCOne(unittest.TestCase):
    
    def test_addTransactionAmountColumn(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT"]
        data_original = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800)
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.addTransactionAmountColumn()
        
        columns_expected = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT"]
        data_expected = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400)
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
    
    
    def test_addTransactionTypeColumn(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT"]
        data_original = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400)
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.addTransactionTypeColumn()
        
        columns_expected = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_expected = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100, "CR"), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200, "DR"), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300, "CR"), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400, "DR")
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
    
    
    def test_getChequeTransactions(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_original = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100, "CR"), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200, "DR"), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300, "CR"), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400, "DR")
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.getChequeTransactions()
        
        columns_expected = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_expected = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100, "CR"), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300, "CR"), 
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
    
    
    def test_getCRTransactions(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_original = [(1, "2017-06-29", "cheque", 1, "2017-06-29", None, 100, 100, 100, "CR"), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200, "DR"), 
                (3, "2017-08-01", "upi", 3, "2017-08-01", None, 300, 600, 300, "CR"), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400, "DR")
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.getCRTransactions()
        
        columns_expected = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_expected = [(1, "2017-06-29", "cheque", 1, "2017-06-29", None, 100, 100, 100, "CR"),  
                (3, "2017-08-01", "upi", 3, "2017-08-01", None, 300, 600, 300, "CR")
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
    
    
    def test_getDRTransactions(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_original = [(1, "2017-06-29", "cheque", 1, "2017-06-29", None, 100, 100, 100, "CR"), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200, "DR"), 
                (3, "2017-08-01", "upi", 3, "2017-08-01", None, 300, 600, 300, "CR"), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400, "DR")
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.getDRTransactions()
        
        columns_expected = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT", "TRANSACTION_TYPE"]
        data_expected = [(2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200, "DR"),  
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400, "DR")
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
    
    
    def test_getTotalDepositWithdrawal(self):
        
        columns_original = ["Account_No", "DATE", "TRANSACTION_DETAILS", "CHQ_NO", "VALUE_DATE", "WITHDRAWAL_AMT", "DEPOSIT_AMT", "BALANCE_AMT", "TRANSACTION_AMOUNT"]
        data_original = [(1, "2017-06-29", "cheque", 1.0, "2017-06-29", None, 100, 100, 100), 
                (2, "2017-07-05", "direct", None, "2017-07-05", 200, None, 400, 200), 
                (3, "2017-08-01", "upi", 3.0, "2017-08-01", None, 300, 600, 300), 
                (4, "2017-08-16", "cheque", None, "2017-08-16", 400, None, 800, 400)
               ]
        df_bank = spark.createDataFrame(data = data_original, schema = columns_original)
        
        df_bank.createOrReplaceTempView("bank")
        
        df_transformed = pocOne.getTotalDepositWithdrawal()
        
        columns_expected = ["Account_No", "TOTAL_DEPOSIT", "TOTAL_WITHDRAW"]
        data_expected = [(1, 100, None), 
                (2, None, 200), 
                (3, 300, None), 
                (4, None, 400)
               ]
        df_expected = spark.createDataFrame(data = data_expected, schema = columns_expected)
        
        if df_transformed.schema != df_expected.schema:
            return False
        if df_transformed.collect() != df_expected.collect():
            return False
        return True
    
      
        
testPOCOne = TestPOCOne()

In [0]:
testPOCOne.test_addTransactionAmountColumn()
testPOCOne.test_addTransactionTypeColumn()

Out[29]: True